@import "mixin";
@import "var";

*{
    margin: 0;
padding: 0;
box-sizing: border-box;

}


.main{

    height:$height;
    width: 100vw;
    background-color: $color;
    @include flex_code(20px);

h1{
    @include font-size(50px);
    color: red;
    &:hover{
        color:green;

    }
}
    
 p{
    @include font_size();
    color: $color1;
    letter-spacing: 10px;
    font-family: monospace;


}
    
}
//operator
